* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

.main__container {
  padding: 15px;
  display: flex;
  justify-content: center;
  padding-top: 8rem;
}

.app__container {
  width: 70vmax;
}

.option__menu {
  background-color: lightblue;
  padding: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.option__menu select {
  height: 25px;
  border: none;
}

.option__menu select:hover {
  border: 1px solid black;
}

.dagen {
  background-color: white;
}

.dag {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #414141;
  padding: 5px;
}

.dag .edit__button--link {
  margin-left: auto;
}

.dag .edit__button {
  padding: 5px;
  background: #89b1b1;
  border-radius: 5px;
}

.dag .edit__button:hover {
  padding: 5px;
  background: #92b2b2;
  border-radius: 5px;
  border-color: #92b2b2;
}

.generate {
  background-color: #f4d9a6;
  padding: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 25px;
}

.generate a {
  height: 25px;
}

.generate__button {
  height: 25px;
  border: none;
  background: #e3ffff;
  border-radius: 3px;
}

.velden__button {
  height: 25px;
  border: none;
  background: #89b1b1;
  border-radius: 3px;
}

.velden__button--link {
  width: 40px;
  margin-left: 10rem;
}

.weken__button {
  height: 25px;
  border: none;
  border-radius: 3px;
}

.generate__button:hover {
  border: 1px solid grey;
}

.velden__button:hover {
  border: 1px solid #1e1e40;
}

.weken__button:hover {
  border: 1px solid black;
}

.taken__collectie--item {
  background: white;
  margin: 10px;
  border-radius: 10px;
}

.dag__link {
  margin-bottom: 3rem;
}

.taak__header {
  display: flex;
  flex-direction: row;
  background-color: lightblue;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 1rem;
}

.taak__body {
  padding: 1rem;
}

.taak__aanpas--link, .taak__verwijder--link {
  height: 25px;
}

.taak__aanpas--link {
  margin-left: 2rem;
}

.taak__aanpas, .taak__verwijder, .taak__toevoegen {
  height: 28px;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

.taak__toevoegen {
  background-color: #f4d9a6;
  color: white;
}

.taak__toevoegen--link, .dag__titel {
  margin: 10px;
}

.dag__titel {
  font-size: 30px;
}

.taak__titel {
  margin-left: 12px;
}

.taak__toevoegen:hover {
  background-color: #c3ad7a;
}

.taak__aanpas:hover, .taak__verwijder:hover {
  background-color: #e5e3e3;
}

.taak__titel {
  font-size: 25px;
  padding: 0;
}